#hash_tags{
    overflow-y: scroll;
    list-style:none;
    height: 200px;
    width: 100%;
    scrollbar-width: none;
}

#hash_tags::-webkit-scrollbar {
    display: none;
  }
#hash_tags li{
    width: 210px;
    height: 24px;
    padding: 1.5px 10px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    line-height: 24px;
    font-weight: 600;
}

#hash_tags li:not(:last-of-type){
    margin-bottom: 3px;
}