
#lists{
    grid-column: 2;
    grid-row: 4;
    margin-left: 10px;
    margin-top: 20px;
}
#lists #todo_list *{
    vertical-align: top;
}
#todo_list li{
    list-style: none;
    margin-bottom: 10px;
}
#lists .ch_button {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #bcbcbc;
	cursor: pointer;
}
#lists input:checked + .ch_button {
    background-color: #ffc1c1;
    border: 1px solid #ffc1c1;
}
#lists #list_txt{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    min-height: 20px;
    padding: 0px 2.5px;
}
#lists #list_txt *{
    font-family: inter;
    white-space: pre-wrap;
    display: inline-block;
    min-width: 20px;
}
#lists #list_txt *:hover{
    background-color: #EEEEEE;
}
.can_mov_bt{
    vertical-align: center;
    display: inline-block;
    width: 8px;
	height: 15px;
    margin-right: 2px;
    margin-top: 2px;
    background-color: #666666;
    cursor: move;
}
.inv{
    opacity: 0%;
    cursor: none;
}
#addlist{
    padding-left: 6px;
    cursor: pointer;
}
#addlist:hover{
    opacity: 100%;
    background-color: #EEEEEE;
    border-radius: 5px;
}