
.no_cal #main_contents_box{
    grid-column: 2;
    grid-row: 4;
    margin-left: 10px;
    margin-top: 15px;
}
.add_calender #main_contents_box{
    grid-column: 2;
    grid-row: 5;
    margin-left: 10px;
    margin-top: 15px;
}
#main_contents_box #to_do_list_box *{
    vertical-align: middle;
}
#to_do_list_box li{
    list-style: none;
}
.to_do_list .ch_button {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #bcbcbc;
	cursor: pointer;
}
.to_do_list input:checked + .ch_button {
    background-color: #ffc1c1;
    border: 1px solid #ffc1c1;
}
input[type=text]{
    width: 490px;
}
#to_do_list_box .to_do_list .list_txt{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    min-height: 24.5px;
    padding: 0px 2.5px;
    max-width: 490px;
}
#to_do_list_box .to_do_list .list_txt *{
    font-family: inter;
    white-space: normal;
    display: inline-block;
    max-width: 490px;
    line-height: 22px;
    min-height: 22.5px;
    align-items: center;
}
.can_mov_bt{
    vertical-align: center;
    display: inline-block;
    width: 8px;
    vertical-align: baseline;
	height: 15px;
    margin-right: 2px;
    background-color: #666666;
    cursor: move;
}
.del_btn{
    display: inline-block;
    width: 10px;
	height: 10px;
    margin-right: 2px;
    margin-left: 3px;
    background-color: #666666;
    cursor: pointer;
}
.inv{
    opacity: 0%;
}
#add_list_btn{
    padding-left: 6px;
    margin-top: 5px;
    cursor: pointer;
}
#add_list_btn:hover{
    opacity: 100%;
    background-color: #EEEEEE;
    color: rgb(95, 95, 95);
    border-radius: 5px;
}
.to_do_list.dragging{
    cursor: pointer;
}
.to_do_list{
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 3px 0;
    border: 2px solid rgba(0, 0, 0, 0);
}
.drag-over-up {
    border-top-color: blue;
}

.drag-over-down {
    border-bottom-color: blue;
}

.add_calender #calender_zone{
    grid-column: 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}
#dec_date{
    cursor: pointer;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #cccccc;
}
#inc_date{
    cursor: pointer;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #cccccc;
}
#date_display{
    cursor: pointer;
    align-items: center;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    width: 100px;
    height: 26px;
}
#calender_modal{
    display: block;
    position: absolute;
    transform: translate(-50px,0);
    width: 252px;
    margin-top: 4px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #999999;
}
.week{
    margin-bottom: 5px;
}
.date{
    display: block;
    cursor: pointer;
    text-align: end;
    width: 26.5px;
    height: 30px;
    padding-right: 6.5px;
    font-size: 14px;
}
.other_month_date{
    color: #cccccc;
}
#days{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
#days *{
    font-size: 12px;    
    text-align: end;
    width: 26.5px;
    padding-right: 6.5px;
    font-size: 11px;
}
.week{
    display: flex;
    justify-content: space-around;
}
.today{
    background-color: #ffc1c1;
    border-radius: 2px;
}
#calender_year_month{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px
}