
#lists{
    grid-column: 2;
    grid-row: 4;
    margin-left: 10px;
    margin-top: 15px;
}
#lists #todo_list *{
    vertical-align: middle;
}
#todo_list li{
    list-style: none;
}
#lists .ch_button {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #bcbcbc;
	cursor: pointer;
}
#lists input:checked + .ch_button {
    background-color: #ffc1c1;
    border: 1px solid #ffc1c1;
}
#lists .list_txt{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    min-height: 22px;
    padding: 0px 2.5px;
}
#lists .list_txt *{
    font-family: inter;
    white-space: pre-wrap;
    display: inline-block;
    min-width: 15px;
}
input[type=text]{
    width: 500px;
}
.can_mov_bt{
    vertical-align: center;
    display: inline-block;
    width: 8px;
	height: 15px;
    margin-right: 2px;
    background-color: #666666;
    cursor: move;
}
.inv{
    opacity: 0%;
}
#addlist{
    padding-left: 6px;
    margin-top: 5px;
    cursor: pointer;
}
#addlist:hover{
    opacity: 100%;
    background-color: #EEEEEE;
    border-radius: 5px;
}
.grabbing{
    cursor: grabbing;
}
.do_list{
    margin: 3px 0;
    border: 2px solid rgba(0, 0, 0, 0);
}
.drag-over-up {
    border-top-color: blue;
}

.drag-over-down {
    border-bottom-color: blue;
}