
@font-face {
    font-family: 'inter';
    src: url('InterDisplay-Regular.otf') format('otf');
}
*{
    margin: 0;
    padding: 0;   
   }
body{
    display: flex;
    width: 100%;
    height: 100vh;
}

#left-menu{
    font-family: 'inter';
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;    
    background-color: #EEEEEE;
    position: relative;
    width: 250px;
}
#main_contents_zone{
    flex: 1;
    font-family: 'inter';
    height: 100%;
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: calc(50% - 280px) 560px auto;
    overflow-y: scroll;
}

.no_cal{
    grid-template-rows: 35px 35px 75px auto;
}
.add_calender{
    grid-template-rows: 35px 35px 75px 35px auto;
}

#home_container{
    flex: 1;
    font-family: 'inter';
    height: 100%;
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: calc(50% - 280px) 280px 280px auto;
    grid-template-rows: 35px 35px 25px 30px 140px 140px 20px 350px;
    overflow-y: scroll;
}